@each $ico in google_earth, printer, pan, magnifier,
find, cursor, arrow_inout, arrow_left, arrow_right, ruler_white, ruler_square_white {
  .mv-#{$ico}-icon {
    background: {
      image: url('img/geosilk/#{$ico}.png');
      repeat: no-repeat;
      position: center;
    }
  }
}